body {
  font-family: sans-serif;
  margin: 0px;
  width: 100%;
  
  
}
.logo {
  list-style-type: none;
}

.navbar {
  background-color: #f38e58;
  justify-content: space-around;
  width: 100%;
  display: flex;
  height: 80px;
}
.navbar2 {
  background-color: #f38e58;
  width: 100%;

}

.navbarButtons {
  display: flex;
  list-style-type: none;

}
.navbarButtons li a {
  color: #f8ffff;
  padding: 20px;
  text-decoration: none;


}

.navbarLinks {
  display: inline-flex;
  justify-content: space-around;
  list-style-type: none;
  
}
.navbarLinks li a {
padding: 50px;
color: #f8ffff;
text-decoration: none;

}

.title ul {
  margin-top: 0%;
  list-style-type: none;
}

h1 {
  color: #f8ffff;
  text-align: center;
  font-size: xx-large;
  margin: 0px;

}

h2{
  color: #4e3c31;
  text-align: center;
  font-size: small;
  list-style-type: none;
  padding-bottom: 2%;
}

h3 {
  color: #61b6d1;
  list-style-type: none;
  text-decoration: none;
}
.containerMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  justify-content: space-around;
  color: #606060;

}
.containerForm ul {
  color: #606060;
  text-decoration: none;
  list-style-type: none;
}

input[type=text] {
  border: 1px solid #606060;
  width: 90%;
  margin: 1%;

  
}
textarea {
  border: 1px solid #606060;
  width: 90%;
  height: 100px;
  margin: 1%;
}
#submit {
  background-color: #f38e58; 
  color:white;
  margin-left: 83%;

}

.containerSocial ul {
  color: #606060;
  list-style-type: none;
  margin: 2%;
}
.containerSocial ul p {
  white-space: nowrap;
  
}
.bottom {
  background-color: #404040;
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
}

.about {
  list-style-type: none;
}
.about a {
  color: white;
  text-decoration: none;
  
}
.helpL {
  list-style-type: none;
}
.helpL a {
  color: white;
  text-decoration: none;
}
.resourcesL {
  list-style-type: none;
}
.resourcesL a {
  color: white;
  text-decoration: none;
}
.landingPages {
  list-style-type: none;
}
.landingPages a {
  color: white;
  text-decoration: none;
}
.commercial {
  list-style-type: none;
}
.commercial a {
  color: white;
  text-decoration: none;
}
.tryLander {
list-style-type: none;
}
.tryLander a {
  color: white;
  text-decoration: none;
}
footer {
  background-color: #333333;
  width: 100%;
  margin: 0px;

}
footer p {
  margin: 0px;
}
.nowrap {
  white-space: nowrap ;
}

@media all and (min-width: 100px) and (max-width: 1000px) {

  body {
    font-family: sans-serif;
    width: 100%;
    margin: 0%;
    
  }
  .navbar {
    background-color: #f38e58;
    justify-content: space-around;
    width: 100%;
    display: grid;
    height: 250px;
    
  }
  ul.logo {
    text-decoration: none;
    list-style-type: none;
    display: block;
    margin: auto;
  
  }
  .navbarButtons {
    display: flex;
    list-style-type: none;
    
  
  }
  .navbarButtons li {
    color: #f8ffff;
    padding: 3px;
    text-decoration: none;
    align-content: center;
    margin: 10px;
  
  }
  
  .navbarLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .navbarLinks li a {
  padding: 50px;
  color: #f8ffff;
  text-decoration: none;
  
  }
  .navbar2 {
    background-color: #f38e58;
    width: 100%;
    align-content: center;
  
  }
  .containerMain {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-content: space-around;
    align-content: center;
  }
  #submit {
    position: relative right ;
    background-color: #f38e58; 
    color:white;
    margin-left: 80%;
  
  }

  .bottom {
    background-color: #404040;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-content: space-around;
    align-content: center;
  }
  footer {
    width: 100%;
    align-content: center;
  }
}